{% block banner %}
<div class="jumbotron text-center">
  <i class="fas fa-link" style="font-size:5rem"></i>
  <h1>Keeplink.in</h1> 
  <p>A simple and quick URL shortener.</p> 
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <p id="error" style="margin-top:-10px;margin-bottom: 0px">Already a short URL!</p>
    <input type="text"  onkeyup="stoppedTyping(this)" id="long_url" class="form-control input-lg" size="50" placeholder="Enter the URL here." required>
    <br>
    <button id="modalbtn" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" >Next Step</button>
  </div>
  <br>
  <br>
  <br>
</div>
{% endblock %}
