<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127736312-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127736312-1');
  </script>

  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A simple and quick URL shortener.">

  <title>{% block title %}Keeplinkin{% endblock %}</title>
  
  <meta name="theme-color" content="#F4511E">
  <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.png') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static',filename='images/favicon.png') }}" type="image/x-icon">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css')}}">
  {% endblock %}
</head>

<body id="home" data-spy="scroll" data-target=".navbar" data-offset="60">

{% block nav %}
<nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="https://github.com/abhishekbalam/keeplinkin" target="_blank"><i class="fab fa-github" style="font-size: 3rem;margin-top: -5px"></i></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#features">FEATURES</a></li>
        <li><a href="#api">API</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
<footer class="container-fluid text-center">
  <a href="#home" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Maintained by <a href="https://github.com/abhishekbalam">Abhishek Balam</a></p>
</footer>
{% endblock %}
<script type="text/javascript">
  function CopyToClipboard1(containerid) {
  var range = document.createRange();  
  var selector=document.getElementById(containerid);

  range.selectNode(selector);
  window.getSelection().addRange(range);  


  try {  
    var successful = document.execCommand('copy');  
    var msg = successful ? 'successful' : 'unsuccessful';  
    console.log('Copy link was ' + msg);
    alert('Copied!');
  } catch(err) {  
    console.log('Oops, unable to copy'); 
    alert('Unable to copy!<br>Please copy manually...')
  }  
  window.getSelection().removeAllRanges();  
}
</script>
<script type="text/javascript" src="{{ url_for('static',filename='js/index.js')}}"></script>

</body>
</html>
